
<%= @restaurant.name %>
<%= @restaurant.address %>
<%= @restaurant.category %>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li> <%= review.content %> </li>
  <li> <%= "⭐️" * review.rating %> </li>
  <% end %>
</ul>


 <h2><%= link_to "Add Review", new_restaurant_review_path(@restaurant)%></h2>
